.Comment {
    padding: 20px;
    padding-left: 0;
    box-sizing: border-box;
    width: 100%;
    border-radius: 20px;
    display: flex;
    height: auto;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    gap: 20px;
}

.UserInfoSection {
    width: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.UserName {
    font-size: 24px;
}

.ProfilePic {
    width: 100px;
}

.ProfilePic > img {
    border-radius: 1000px;
}

.CommentTextSection {
    width: 80%;
    /* padding: 2% 5%; */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.h1 {
    font-size: 24px;
    font-weight: 400;
}
