.Page {
    box-sizing: border-box;
    /* padding: 5% 10% 2% 10%; */
    padding: 5% 10%;
    width: 100%;
    min-height: calc(100vh - 140px);
    background-color: #594ae305;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    gap: 30px;
}

.h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.Steps {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.Step {
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.Step:last-child{
    margin: 0;
}

.Step:nth-child(3){
    margin: 0;
}

.StepNumber {
    color: #594ae3;
    background-color: #594ae310;
    border-radius: 10px;
    
    min-height: 70px;
    min-width: 70px;
    height: 5vw;
    width: 5vw;
    font-size: 50px;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;
}

.StepText {
  font-size: 18px;
}