.InfoBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    height: 100%;
    width: 35%;
    gap: 20px;
}

.Name {
    font-weight: bold;
    font-size: 30px;
}

.RateRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    gap: 5px;
}

.Rate {
    background-color: #594ae3;
    border-radius: 5px;
    color: white;
    padding: 3px;
}

.SoldCount {
    color: #989898;
}

.Statuses {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}

.Icon {
    color: #594ae3;
    font-size: 20px;
}

.StatusGroup {
    color: #989898;
    height: 20px;
    font-size: 16px;

    display: flex;
    align-items: center;
}

.SelectColor {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.SelectColorRound {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    background-color: black;
    color: white;

    border-radius: 20px;
    cursor: pointer;
}

.SelectColorRound:nth-child(1) {
    background-color: grey;
    margin-left: 40px;
}

.ShortInfo {
    font-size: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ShortInfoRow {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.InfoKey {
    color: #989898;
    width: 50%;
}
