.CommentBlock {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1vh;
}

.WriteCommentBlock {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.LeftBlock {
  width: 30%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1vh;
}
