.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
  border-radius: 15px;
  border: none;

  margin-top: 15px;
  background-color: #ee7300;
  color: white;
}

.button:hover {
  cursor: pointer;
}

.text {
  /* font-size: 20px; */
  /* font-size: 1.3vw; */
  font-size: max(15px, 1.3vw);
}
