.inputArea {
    box-sizing: border-box;
    width: 100%;
}

.input {
    all: unset;
    display: block;
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    border: 2px solid #11111333;
    resize: none;
}

.input:disabled {
    background-color: rgba(0, 0, 0, 0.05);
}

.input:focus-visible {
    border: 2px solid #594ae3 !important;
    outline: none;
}

.input::placeholder {
    color: #11111399;
}

.error {
    display: none;
    gap: 5px;
    font-size: 14px;
    color: #d3193e;
}

.errorInput {
    border: 2px solid #d3193e;
    background-color: #fff2f4;
    color: #d3193e;
}

.errorInput::placeholder {
    color: #d3193e;
}

.errorInput:focus {
    outline: none;
}
