.Card {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px 20px;
    border-bottom: 1px solid #d3d3d3;
    cursor: pointer;
    /* height: 130px; */
}

.TopRow {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.BottomRow {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.LeftBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.OrderDate {
    font-size: 20px;
    font-weight: 400;
}

.OrderPrice {
    font-size: 20px;
    font-weight: 500;
}

.DeliveryDate {
    display: flex;
    align-self: self-end;
    width: 30%;

    font-size: 16px;
    color: #989898;
    font-weight: 300;
}

.Devices {
    width: 70%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    scrollbar-width: none;
}

.Devices > img {
    max-width: 10%;
    min-width: 60px;
}
