.PriceBlock {
    width: 25%;
    height: 100%;

    -webkit-box-shadow: -4px -4px 35px 0px rgba(34, 60, 80, 0.16);
    -moz-box-shadow: -4px -4px 35px 0px rgba(34, 60, 80, 0.16);
    box-shadow: -4px -4px 35px 0px rgba(34, 60, 80, 0.16);

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.Prices {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.PriceRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.PriceNow {
    font-size: 30px;
    font-weight: 800;
}

.PriceText {
    font-size: 30px;
    font-weight: 800;
}

.Discount {
    display: flex;
    justify-content: center;
    line-height: 20px;
    color: #ff3e0e;
    font-size: 20px;
}

.LastPrice {
    color: #989898;
    text-decoration: line-through;
}

.Delivery {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;
    background-color: #9898980b;
    padding: 10px;
    border-radius: 10px;
}

.DeliveryRow {
    display: flex;
    width: 100%;
    gap: 3px;
    align-items: flex-start;
    justify-content: space-between;
}

.DeliveryVariant {
    font-size: 16px;
    width: fit-content;
    font-weight: 400;
}

.DeliveryData {
    width: fit-content;
    font-size: 16px;
    color: #989898;
    font-weight: 300;
}

.Dots {
    border-bottom: 1px dotted #989898;
    flex-grow: 1;
    height: 14px;
}

.Buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.Button {
    width: 100% !important;
}

.Favorite {
    color: #989898;
}
