.PriceBlock {
    width: 25%;
    height: auto;

    -webkit-box-shadow: -4px -4px 35px 0px rgba(34, 60, 80, 0.16);
    -moz-box-shadow: -4px -4px 35px 0px rgba(34, 60, 80, 0.16);
    box-shadow: -4px -4px 35px 0px rgba(34, 60, 80, 0.16);

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    padding: 2%;
    gap: 20px;
}

.Prices {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.PriceRow {
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.PriceNow {
    /* font-size: 22px; */
    font-size: max(22px, 1.6vw);
    font-weight: bold;
}

.Discount {
    display: flex;
    justify-content: center;
    line-height: 20px;
    color: #ff3e0e;
    /* font-size: 20px; */
    font-size: max(20px, 1.5vw);
}

.LastPrice {
    color: #717171;
    text-decoration: line-through;
}

.PayDataChoose {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.PayDataCheckRow {
    display: flex;
    height: 30px;
    gap: 10px;
    align-items: center;
    /* font-size: 17px; */
    font-size: max(17px, 1.1vw);
}

.CustomCheckBox {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;
    background-color: white;
    color: white;
    border: #7171715b solid 2px;
    border-radius: 15px;
}

.CreditRowChoose {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}


.Buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px
}

.Button {
    width: 100% !important;
}
