.Page {
    margin: 0 5%;
}

.TopBlock {
    width: 100%;
    height: 500px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ImageBlock {
    width: 40%;
    height: 100%;
    /* background-color: aqua; */
}

.ImageBlock > img {
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.InfoBlock {
  width: 30%;
}

.PriceBlock {
  width: 30%;
}
