.Page {
    margin: 0 5%;
}

.TopBlock {
    width: 100%;
    height: 500px;
    margin-top: 70px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    gap: min(100px, 5%);
}

.ImageBlock {
    width: 40%;
    height: 100%;
    /* background-color: aqua; */
}

.ImageBlock > img {
    width: 100%;
    height: 100%;
    object-fit:contain;
}